* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #0000;
    color:black;

}
#fullSize{
    
}
#meinConeiner{
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 33px 5px rgb(0 0 0 / 50%);
    background: repeating-linear-gradient( 
45deg
, #534f81, #534f81 20px, white 20px, white 40px, #d23222 40px, #d23222 60px, white 60px, white 80px );   
}